
@{
    ViewBag.Title = "Formulario";
}

<h2>Formulario salvo</h2>

<div>
    <p>Dados salvos</p>
    <p>@ViewBag.dados</p>
</div>

<a href="~/Cadastro/Index">Cadastro</a>
<br />
<a href="~/Home/Index">Inicio</a>